@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
	background-color: antiquewhite;
	background-image: url(./assets/images/white-bed-sheet.png);
}

a {
	text-decoration: none;
	color: #000;
	font-size: 1.5rem;
}

p {
	line-height: 1.7;
}

ul {
	list-style: none;
}

li {
	line-height: 2.2;
}

h1,
h2,
h3 {
	font-weight: 600;
	margin-bottom: 10px;
}

.logo,
h1,
h2 {
	font-family: 'Eczar', serif;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 60px;
	flex-wrap: wrap;
}

.header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul li {
	margin-left: 20px;
}

.header ul li a {
	display: flex;
	align-items: center;
}

.header ul li a:hover {
	color: #777;
}

.header ul li a svg {
	margin-right: 5px;
}

.heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 40px;
	padding: 0 20px;
}

.heading p {
	color: #777;
	text-align: center;
}

.workouts {
	display: grid;
	grid-template: 1fr / 1fr;
	gap: 5px;
	margin-bottom: 20px;
}

.workout {
	background-color: white;
	margin: 10px 0;
	padding: 20px 0 10px 10px;
	position: relative;
	box-shadow: 1px 1px 3px black;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.workout:last-child {
	margin-bottom: 35px;
}

.workout h2 {
	margin-top: 10px;
}

.close:hover,
.change:hover,
.back:hover {
	opacity: 1;
}

.close,
.change,
.back {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1.2rem;
	font-weight: bold;
	opacity: 0.5;
}

.change {
	right: 40px;
}

.back {
	right: 70px;
}

.date {
	font-size: 0.7rem;
	opacity: 0.7;
}

.form,
.content {
	width: min(700px, 90%);
	margin: 0 auto;
}

.workout-content {
	width: min(1200px, 90%);
	margin: 0 auto;
}

.form-group {
	margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
	width: 100%;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
	font-family: inherit;
}

.form-group label {
	text-align: left;
	display: block;
	margin: 0 0 5px 3px;
}

.btn {
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #000;
	color: antiquewhite;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	appearance: button;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn svg {
	margin-right: 8px;
}

.btn-reverse {
	background: #fff;
	color: #000;
}

.btn-block {
	width: 100%;
	margin-bottom: 25px;
}

.btn:hover {
	transform: scale(0.98);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gap {
	gap: 8px;
}

.logo a {
	font-size: 2rem;
	font-weight: bold;
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9000;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* NEW STYLING HERE */

dialog {
	top: 37vh;
	left: 42vw;
	padding: 20px;
	background-color: antiquewhite;
}

dialog::backdrop {
	background-color: rgb(0, 0, 0, .2);
	backdrop-filter: blur(5px);
}

@media (max-width: 600px) {
	.logo a {
		font-size: 3rem;
		white-space: nowrap;
		margin: 0 20px;
	}

	.container {
		padding: 0 10px;
	}

	.header {
		justify-content: center;
		margin: 0 10px;
		padding: 30px 0;
		margin-bottom: 50px;
	}

	.header ul {
		gap: 20px;
		margin: 0 20px;
	}

	.header ul li {
		margin-left: 0px;
	}

	.form {
		width: 90%;
	}

	.heading h1 {
		font-size: 2rem;
	}

	.heading p {
		font-size: 1.5rem;
	}

	.workout {
		padding: 20px 15px 10px 15px;
	}
}